<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<span class="copyright">Copyright &copy; </span><a href="https://www.linkedin.com/in/alejandro-a-98703b87" target="_blank">Alejandro Alvarez (<span class="font-weight-light"><em>@jandrikus</em></span>)</a><span> 2018</span>
			<br>
			<span class="text-monospace">{{ _("Made with 🧡 for") }}</span> <a href="https://sosetseib.upc.edu" target="_blank">SOS ETSEIB</a> {{ _("using") }} <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
		</div>
		<div class="col-lg-7">
			<ul class="list-inline quicklinks">
				<li class="list-inline-item">
					<a href="#" target="_blank">{{ _("MMM
					") }}</a>
				</li>
			</ul>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="https://instagram.com/sosetseib" target="_blank" style="color: #cd5cbe;">
						<i class="fab fa-instagram"></i> sosetseib
					</a>
				</li>
				<li class="list-inline-item">
					<a href="mailto:sos.etseib@upc.edu" style="color: indianred;">
						<i class="far fa-envelope"></i> sos.etseib@upc.edu
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>